.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100vw - 48px);
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item{
    height: 300px;
    width: 475px;
    overflow: hidden;
}
.gallery-img {
    display: block;
    height: 300px;
    width: 100%;
    object-fit: cover;
   
}